In [1]:
import pandas as pd

In [84]:
df = pd.read_csv("./datasets/WIPRO.csv")

In [85]:
df.shape

(104, 84)

In [86]:
df

,Unnamed: 0.1,Unnamed: 0,Mar 4,Jun 4,Sep 4,Dec 4,Mar 5,Jun 5,Sep 5,Dec 5,...,Mar 22,Jun 22,Sep 22,Dec 22,Mar 23,Jun 23,Sep 23,Dec 23,Mar 24,Jun 24
0,0,Close,51.045002,59.861252,67.139999,84.240005,75.481880,86.208755,83.576256,104.253754,...,591.900024,416.049988,394.25,392.75,365.25,389.149994,406.049988,471.299988,480.100006,514.849976
1,3,Equity Share Capital,46.550000,46.550000,46.550000,46.550000,140.710000,140.710000,140.710000,140.710000,...,1096.400000,1096.400000,1096.40,1096.40,1097.60,1097.600000,1097.600000,1097.600000,1045.000000,1045.000000
2,4,Total Share Capital,46.550000,46.550000,46.550000,46.550000,140.710000,140.710000,140.710000,140.710000,...,1096.400000,1096.400000,1096.40,1096.40,1097.60,1097.600000,1097.600000,1097.600000,1045.000000,1045.000000
3,5,Reserves and Surplus,3461.040000,3461.040000,3461.040000,3461.040000,4751.730000,4751.730000,4751.730000,4751.730000,...,53254.300000,53254.300000,53254.30,53254.30,61101.50,61101.500000,61101.500000,61101.500000,56736.900000,56736.900000
4,6,Total Reserves and Surplus,3461.040000,3461.040000,3461.040000,3461.040000,4751.730000,4751.730000,4751.730000,4751.730000,...,53254.300000,53254.300000,53254.30,53254.30,61101.50,61101.500000,61101.500000,61101.500000,56736.900000,56736.900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,135,P/L Before Tax,2341.161765,2341.161765,2341.161765,2341.161765,2341.161765,2341.161765,2341.161765,2341.161765,...,6089.500000,2943.700000,2955.60,3227.10,3142.50,3421.100000,2848.100000,2803.500000,3344.800000,3280.900000
100,136,Tax,74.400000,59.800000,66.700000,70.000000,65.700000,62.100000,82.400000,85.100000,...,610.700000,727.100000,672.70,814.00,878.40,833.300000,786.800000,780.600000,898.200000,906.300000
101,137,P/L After Tax from Ordinary Activities,1829.364706,1829.364706,1829.364706,1829.364706,1829.364706,1829.364706,1829.364706,1829.364706,...,5478.800000,2216.600000,2282.90,2413.10,2264.10,2587.800000,2061.300000,2022.900000,2446.600000,2374.600000
102,140,Net Profit/(Loss) For the Period,259.000000,326.800000,370.100000,376.500000,421.400000,404.900000,453.000000,505.100000,...,5478.800000,2216.600000,2282.90,2413.10,2264.10,2587.800000,2061.300000,2022.900000,2446.600000,2374.600000
103,141,Equity Share Capital,46.600000,139.700000,139.800000,140.400000,140.700000,141.000000,283.000000,284.100000,...,1096.400000,1096.500000,1097.10,1097.40,1097.60,1097.800000,1044.400000,1044.800000,1045.000000,1046.000000

In [87]:
df.drop(df.columns[0], axis=1, inplace=True)

In [88]:
df

,Unnamed: 0,Mar 4,Jun 4,Sep 4,Dec 4,Mar 5,Jun 5,Sep 5,Dec 5,Mar 6,...,Mar 22,Jun 22,Sep 22,Dec 22,Mar 23,Jun 23,Sep 23,Dec 23,Mar 24,Jun 24
0,Close,51.045002,59.861252,67.139999,84.240005,75.481880,86.208755,83.576256,104.253754,125.932503,...,591.900024,416.049988,394.25,392.75,365.25,389.149994,406.049988,471.299988,480.100006,514.849976
1,Equity Share Capital,46.550000,46.550000,46.550000,46.550000,140.710000,140.710000,140.710000,140.710000,285.150000,...,1096.400000,1096.400000,1096.40,1096.40,1097.60,1097.600000,1097.600000,1097.600000,1045.000000,1045.000000
2,Total Share Capital,46.550000,46.550000,46.550000,46.550000,140.710000,140.710000,140.710000,140.710000,285.150000,...,1096.400000,1096.400000,1096.40,1096.40,1097.60,1097.600000,1097.600000,1097.600000,1045.000000,1045.000000
3,Reserves and Surplus,3461.040000,3461.040000,3461.040000,3461.040000,4751.730000,4751.730000,4751.730000,4751.730000,6135.300000,...,53254.300000,53254.300000,53254.30,53254.30,61101.50,61101.500000,61101.500000,61101.500000,56736.900000,56736.900000
4,Total Reserves and Surplus,3461.040000,3461.040000,3461.040000,3461.040000,4751.730000,4751.730000,4751.730000,4751.730000,6135.300000,...,53254.300000,53254.300000,53254.30,53254.30,61101.50,61101.500000,61101.500000,61101.500000,56736.900000,56736.900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,P/L Before Tax,2341.161765,2341.161765,2341.161765,2341.161765,2341.161765,2341.161765,2341.161765,2341.161765,2341.161765,...,6089.500000,2943.700000,2955.60,3227.10,3142.50,3421.100000,2848.100000,2803.500000,3344.800000,3280.900000
100,Tax,74.400000,59.800000,66.700000,70.000000,65.700000,62.100000,82.400000,85.100000,90.400000,...,610.700000,727.100000,672.70,814.00,878.40,833.300000,786.800000,780.600000,898.200000,906.300000
101,P/L After Tax from Ordinary Activities,1829.364706,1829.364706,1829.364706,1829.364706,1829.364706,1829.364706,1829.364706,1829.364706,1829.364706,...,5478.800000,2216.600000,2282.90,2413.10,2264.10,2587.800000,2061.300000,2022.900000,2446.600000,2374.600000
102,Net Profit/(Loss) For the Period,259.000000,326.800000,370.100000,376.500000,421.400000,404.900000,453.000000,505.100000,657.500000,...,5478.800000,2216.600000,2282.90,2413.10,2264.10,2587.800000,2061.300000,2022.900000,2446.600000,2374.600000
103,Equity Share Capital,46.600000,139.700000,139.800000,140.400000,140.700000,141.000000,283.000000,284.100000,285.200000,...,1096.400000,1096.500000,1097.10,1097.40,1097.60,1097.800000,1044.400000,1044.800000,1045.000000,1046.000000

In [89]:
df.set_index(df.columns[0], inplace=True)

In [90]:
df

,Mar 4,Jun 4,Sep 4,Dec 4,Mar 5,Jun 5,Sep 5,Dec 5,Mar 6,Jun 6,...,Mar 22,Jun 22,Sep 22,Dec 22,Mar 23,Jun 23,Sep 23,Dec 23,Mar 24,Jun 24
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
Close,51.045002,59.861252,67.139999,84.240005,75.481880,86.208755,83.576256,104.253754,125.932503,115.503754,...,591.900024,416.049988,394.25,392.75,365.25,389.149994,406.049988,471.299988,480.100006,514.849976
Equity Share Capital,46.550000,46.550000,46.550000,46.550000,140.710000,140.710000,140.710000,140.710000,285.150000,285.150000,...,1096.400000,1096.400000,1096.40,1096.40,1097.60,1097.600000,1097.600000,1097.600000,1045.000000,1045.000000
Total Share Capital,46.550000,46.550000,46.550000,46.550000,140.710000,140.710000,140.710000,140.710000,285.150000,285.150000,...,1096.400000,1096.400000,1096.40,1096.40,1097.60,1097.600000,1097.600000,1097.600000,1045.000000,1045.000000
Reserves and Surplus,3461.040000,3461.040000,3461.040000,3461.040000,4751.730000,4751.730000,4751.730000,4751.730000,6135.300000,6135.300000,...,53254.300000,53254.300000,53254.30,53254.30,61101.50,61101.500000,61101.500000,61101.500000,56736.900000,56736.900000
Total Reserves and Surplus,3461.040000,3461.040000,3461.040000,3461.040000,4751.730000,4751.730000,4751.730000,4751.730000,6135.300000,6135.300000,...,53254.300000,53254.300000,53254.30,53254.30,61101.50,61101.500000,61101.500000,61101.500000,56736.900000,56736.900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
P/L Before Tax,2341.161765,2341.161765,2341.161765,2341.161765,2341.161765,2341.161765,2341.161765,2341.161765,2341.161765,2341.161765,...,6089.500000,2943.700000,2955.60,3227.10,3142.50,3421.100000,2848.100000,2803.500000,3344.800000,3280.900000
Tax,74.400000,59.800000,66.700000,70.000000,65.700000,62.100000,82.400000,85.100000,90.400000,98.000000,...,610.700000,727.100000,672.70,814.00,878.40,833.300000,786.800000,780.600000,898.200000,906.300000
P/L After Tax from Ordinary Activities,1829.364706,1829.364706,1829.364706,1829.364706,1829.364706,1829.364706,1829.364706,1829.364706,1829.364706,1829.364706,...,5478.800000,2216.600000,2282.90,2413.10,2264.10,2587.800000,2061.300000,2022.900000,2446.600000,2374.600000
Net Profit/(Loss) For the Period,259.000000,326.800000,370.100000,376.500000,421.400000,404.900000,453.000000,505.100000,657.500000,619.100000,...,5478.800000,2216.600000,2282.90,2413.10,2264.10,2587.800000,2061.300000,2022.900000,2446.600000,2374.600000
Equity Share Capital,46.600000,139.700000,139.800000,140.400000,140.700000,141.000000,283.000000,284.100000,285.200000,286.400000,...,1096.400000,1096.500000,1097.10,1097.40,1097.60,1097.800000,1044.400000,1044.800000,1045.000000,1046.000000

In [91]:
df.to_csv("./datasets/final/WIPRO.csv")

In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("./datasets/cash-flow/WIPRO-cash-flow.csv")

(21, 10)

In [10]:
df = df.T

In [13]:
df

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,Mar 04,Mar 05,Mar 06,Mar 07,Mar 08,Mar 09,Mar 10,Mar 11,Mar 12,Mar 13,...,Mar 15,Mar 16,Mar 17,Mar 18,Mar 19,Mar 20,Mar 21,Mar 22,Mar 23,Mar 24
Net Profit/Loss Before Extraordinary Items And Tax,1082.27,1757.02,2340.43,3176.2,3469.7,3547.9,5688.8,5705.5,5918.6,7205.1,...,10557.0,8200.5,8161.7,7722.8,7614.0,8680.7,10060.9,12135.3,9176.7,9118.6
Net CashFlow From Operating Activities,913.91,1666.42,1912.25,2674.6,715.9,4344.5,4477.4,3711.2,2997.9,6119.2,...,7703.6,6686.7,7370.7,6470.9,10210.1,9068.1,12727.7,7240.5,11191.6,14215.9
Net Cash Used In Investing Activities,-1062.09,-874.58,-1694.42,-1881.9,-1127.5,-3662.7,-3064.6,-1474.0,-339.8,-3573.1,...,-1495.0,-9805.0,-7890.8,5002.3,-370.6,3202.7,-1275.0,-12611.1,-4761.6,2237.0
Net Cash Used From Financing Activities,28.57,-550.61,59.8,238.5,2290.9,-70.7,-96.2,-2733.3,-1723.8,-1005.5,...,-1836.1,-3489.7,-4367.6,-12918.4,-1395.1,-12233.0,-12105.7,494.7,-6803.6,-17158.7
Foreign Exchange Gains / Losses,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.3,95.2,27.1,...,15.1,31.3,-93.2,5.2,3.0,16.3,-7.8,-9.2,2.5,-30.6
Adjustments On Amalgamation Merger Demerger Others,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.8,0.0,0.0,...,0.0,0.0,0.0,0.0,20.3,0.0,0.0,0.0,0.0,0.0
Net Inc/Dec In Cash And Cash Equivalents,-119.61,246.8,277.63,1031.2,1879.3,611.1,1316.6,-461.0,1029.5,1567.7,...,4387.6,-6576.7,-4980.9,-1440.0,8467.7,54.1,-660.8,-4885.1,-371.1,-736.4
Cash And Cash Equivalents Begin of Year,409.7,290.09,545.38,818.0,1852.8,3798.1,4347.7,5664.3,5203.3,6232.7,...,10554.9,14919.8,8343.1,3362.2,1922.2,10389.9,10444.0,9783.2,4898.1,4527.0
Cash And Cash Equivalents End Of Year,290.09,536.9,823.0,1849.2,3732.1,4409.2,5664.3,5203.3,6232.8,7800.4,...,14942.5,8343.1,3362.2,1922.2,10389.9,10444.0,9783.2,4898.1,4527.0,3790.6