In [4]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("../datasets/WIPRO.csv")
df.set_index('WIPRO', inplace=True)
df

,Mar '04,Jun '04,Sep '04,Dec '04,Mar '05,Jun '05,Sep '05,Dec '05,Mar '06,Jun '06,...,Mar '22,Jun '22,Sep '22,Dec '22,Mar '23,Jun '23,Sep '23,Dec '23,Mar '24,Jun '24
WIPRO,,,,,,,,,,,,,,,,,,,,,
Close,51.045002,59.86125183105469,67.139999,84.240005,75.48188,86.208755,83.576256,104.253754,125.932503,115.503754,...,591.900024,416.049988,394.25,392.75,365.25,389.149994,406.049988,471.299988,480.100006,514.849976
Net Sales/Income from operations,1578.700000,1562.70,1743.800000,1873.500000,2055.50000,2027.200000,2254.900000,2467.800000,3498.000000,3001.600000,...,15585.600000,16255.600000,16941.80,17078.70,17477.30,17202.800000,16680.700000,16315.700000,16593.200000,16481.300000
Employees Cost,257.000000,--,671.300000,771.600000,792.40000,902.500000,962.900000,1048.800000,1364.800000,1276.900000,...,8389.700000,8684.700000,9517.90,9376.90,9622.10,9735.600000,9642.700000,9317.500000,9593.700000,9199.800000
depreciat,44.300000,37.20,42.600000,49.800000,56.40000,56.300000,58.500000,60.400000,117.100000,81.100000,...,395.000000,394.900000,405.20,408.10,383.90,376.700000,370.800000,370.000000,374.300000,366.300000
Other Expenses,467.000000,749.70,165.200000,128.500000,154.70000,96.100000,132.500000,243.500000,508.200000,294.100000,...,3778.300000,4378.600000,4276.10,4454.30,4932.40,4127.900000,4208.100000,4167.200000,4040.800000,4037.400000
Other Income,36.800000,26.80,16.900000,18.700000,28.90000,8.300000,38.600000,35.900000,48.900000,50.300000,...,3332.600000,389.700000,450.30,657.60,856.60,742.100000,684.400000,593.400000,1032.300000,665.500000
Net Profit/(Loss) For the Period,259.000000,326.80,370.100000,376.500000,421.40000,404.900000,453.000000,505.100000,657.500000,619.100000,...,5478.800000,2216.600000,2282.90,2413.10,2264.10,2587.800000,2061.300000,2022.900000,2446.600000,2374.600000
Basic EPS (Rs.),39.310000,39.31,39.310000,39.310000,21.25000,21.250000,21.250000,21.250000,14.170000,14.170000,...,22.200000,22.200000,22.20,22.20,16.75,16.750000,16.750000,16.750000,17.240000,17.240000
Book Value /Share (Rs.),150.700000,150.7,150.700000,150.700000,69.54000,69.540000,69.540000,69.540000,45.030000,45.030000,...,99.140000,99.140000,99.14,99.14,114.36,114.360000,114.360000,114.360000,110.590000,110.590000
PBDIT/Share (Rs.),53.030000,53.03,53.030000,53.030000,27.70000,27.700000,27.700000,27.700000,18.490000,18.490000,...,31.220000,31.220000,31.22,31.22,26.40,26.400000,26.400000,26.400000,28.190000,28.190000
Net Profit/Share (Rs.),39.310000,39.31,39.310000,39.310000,21.25000,21.250000,21.250000,21.250000,14.170000,14.170000,...,22.140000,22.140000,22.14,22.14,16.72,16.720000,16.720000,16.720000,17.450000,17.450000
PBDIT Margin (%),24.030000,24.03,24.030000,24.030000,26.93000,26.930000,26.930000,26.930000,25.770000,25.770000,...,28.730000,28.730000,28.73,28.73,21.38,21.380000,21.380000,21.380000,22.050000,22.050000
Net Profit Margin (%),17.810000,17.81,17.810000,17.810000,20.66000,20.660000,20.660000,20.660000,19.750000,19.750000,...,20.360000,20.360000,20.36,20.36,13.54,13.540000,13.540000,13.540000,13.650000,13.650000
Return on Networth / Equity (%),26.080000,26.08,26.080000,26.080000,30.55000,30.550000,30.550000,30.550000,31.460000,31.460000,...,22.320000,22.320000,22.32,22.32,14.62,14.620000,14.620000,14.620000,15.780000,15.780000
Return on Capital Employed (%),26.030000,26.03,26.030000,26.030000,30.49000,30.490000,30.490000,30.490000,31.400000,31.400000,...,27.320000,27.320000,27.32,27.32,19.40,19.400000,19.400000,19.400000,20.940000,20.940000
Return on Assets (%),17.290000,17.29,17.290000,17.290000,22.34000,22.340000,22.340000,22.340000,21.800000,21.800000,...,15.090000,15.090000,15.09,15.09,10.75,10.750000,10.750000,10.750000,11.160000,11.160000
Quick Ratio (X),1.070000,1.07,1.070000,1.070000,1.40000,1.400000,1.400000,1.400000,1.370000,1.370000,...,2.230000,2.230000,2.23,2.23,2.86,2.860000,2.860000,2.860000,2.740000,2.740000
EV/EBITDA (X),25.480000,25.48,25.480000,25.480000,23.99000,23.990000,23.990000,23.990000,29.920000,29.920000,...,19.120000,19.120000,19.12,19.12,13.88,13.880000,13.880000,13.880000,17.060000,17.060000

In [19]:
df.replace('--', np.nan, inplace=True)
df = df.T

In [20]:
df['Employees Cost'].fillna(df['Employees Cost'].mean(), inplace=True)

In [21]:
df

WIPRO,Close,Net Sales/Income from operations,Employees Cost,depreciat,Other Expenses,Other Income,Net Profit/(Loss) For the Period,Basic EPS (Rs.),Book Value /Share (Rs.),PBDIT/Share (Rs.),Net Profit/Share (Rs.),PBDIT Margin (%),Net Profit Margin (%),Return on Networth / Equity (%),Return on Capital Employed (%),Return on Assets (%),Quick Ratio (X),EV/EBITDA (X)
Mar '04,51.045002,1578.7,257.000000,44.3,467.0,36.8,259.0,39.31,150.7,53.03,39.31,24.03,17.81,26.08,26.03,17.29,1.07,25.48
Jun '04,59.86125183105469,1562.70,4698.173418,37.20,749.70,26.80,326.80,39.31,150.7,53.03,39.31,24.03,17.81,26.08,26.03,17.29,1.07,25.48
Sep '04,67.139999,1743.8,671.300000,42.6,165.2,16.9,370.1,39.31,150.7,53.03,39.31,24.03,17.81,26.08,26.03,17.29,1.07,25.48
Dec '04,84.240005,1873.5,771.600000,49.8,128.5,18.7,376.5,39.31,150.7,53.03,39.31,24.03,17.81,26.08,26.03,17.29,1.07,25.48
Mar '05,75.48188,2055.5,792.400000,56.4,154.7,28.9,421.4,21.25,69.54,27.7,21.25,26.93,20.66,30.55,30.49,22.34,1.4,23.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Jun '23,389.149994,17202.8,9735.600000,376.7,4127.9,742.1,2587.8,16.75,114.36,26.4,16.72,21.38,13.54,14.62,19.4,10.75,2.86,13.88
Sep '23,406.049988,16680.7,9642.700000,370.8,4208.1,684.4,2061.3,16.75,114.36,26.4,16.72,21.38,13.54,14.62,19.4,10.75,2.86,13.88
Dec '23,471.299988,16315.7,9317.500000,370.0,4167.2,593.4,2022.9,16.75,114.36,26.4,16.72,21.38,13.54,14.62,19.4,10.75,2.86,13.88
Mar '24,480.100006,16593.2,9593.700000,374.3,4040.8,1032.3,2446.6,17.24,110.59,28.19,17.45,22.05,13.65,15.78,20.94,11.16,2.74,17.06
Jun '24,514.849976,16481.3,9199.800000,366.3,4037.4,665.5,2374.6,17.24,110.59,28.19,17.45,22.05,13.65,15.78,20.94,11.16,2.74,17.06

In [22]:
df = df.T

In [23]:
df.to_csv("../datasets/WIPRO-imputated.csv")